<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/baseline_fact_check_24"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlInventario"
        tools:targetApi="31">
        <activity
            android:name=".Libro.MenuLibroActivity"
            android:exported="false" />
        <activity
            android:name=".Libro.BuscarLibroIdActivity"
            android:exported="false" />
        <activity
            android:name=".Idioma.FindIdiomaByIdActivity"
            android:exported="false" />
        <activity
            android:name=".Idioma.CrudIdiomaActivity"
            android:exported="false" />
        <activity
            android:name=".Idioma.IdiomaActivity"
            android:exported="false" />
        <activity
            android:name=".Editorial.FindEditorialById"
            android:exported="false" />
        <activity
            android:name=".Editorial.CrudEditorial"
            android:exported="false" />
        <activity
            android:name=".Editorial.EditorialActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaLibro.FindByIdCategoriaLibroActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaLibro.CrudCategoriaLibroActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriaLibro.CategoriaLibrosActivity"
            android:exported="false" />
        <activity
            android:name=".Materia.CrudMateriaActivity"
            android:exported="false" />
        <activity
            android:name=".Materia.findByIdMateria"
            android:exported="false" />
        <activity
            android:name=".Marca.MarcaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Marca.CreateMarcaActivity"
            android:exported="false" />
        <activity
            android:name=".Marca.FindByIdMarcaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EscuelaJA.MenuEscuelaActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoUbicacionJA.MenuCatalogoUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaJA.UpdateEscuelaActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaJA.FindByEscuelaActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaJA.DeleteEscuelaActivity"
            android:exported="false" />
        <activity
            android:name=".EscuelaJA.CreateEscuelaActivity"
            android:exported="false" />
        <activity
            android:name=".FacultadJA.UpdateFacultadActivity"
            android:exported="false" />
        <activity
            android:name=".FacultadJA.FindByIdFacultadActivity"
            android:exported="false" />
        <activity
            android:name=".FacultadJA.DeleteFacultadActivity"
            android:exported="false" />
        <activity
            android:name=".FacultadJA.CreateFacultadActivity"
            android:exported="false" />
        <activity
            android:name=".FacultadJA.MenuFacultadActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoUbicacionJA.FindByIdCatalogoUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoUbicacionJA.DeleteCatalogoUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoUbicacionJA.UpdateCatalogoUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogoUbicacionJA.CreateCatalogoUbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".Autor.FindByIdAutorActivity"
            android:exported="false" />
        <activity
            android:name=".Autor.CreateAutorActivity"
            android:exported="false" />
        <activity
            android:name=".Materia.MateriaActivity"
            android:exported="false" />
        <activity
            android:name=".Libro.LibroActivity"
            android:exported="false" />
        <activity
            android:name=".Autor.AutorMenuActivity"
            android:exported="false" />
    </application>

</manifest>